.modal-body .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  outline: none;
}
.admin-img {
  background: url('./../images/emir.jpeg') center center / cover;
  width: 141px;
  height: 141px;
}
.btn.close.collapsed span{
  transform: rotate(180deg);
}