.table {
  margin-bottom: 63px;
  thead th {
    border-bottom: 1px solid $black;
  }
  th {
    border-top: none;
  }
  td {
    border-top: 1px solid $secondary;
    padding: 16px 0 0;
  }
  tr:last-child td {
    border-bottom: 1px solid $secondary;
  }
  .material-icons:hover {
    color: $primary;
  }
}
.table-hover tbody tr:hover {
  color: $black;
  background-color: $secondary;
}